.wrapper
  = render "devise/shared/side_bar"
  
  .chat-main
    .main-header
      .main-header__left-box
        .main-header__left-box__current-group
          = "ハルレオ"
        .main-header__left-box__member-list
          = "Member: kami, ハル, レオ"
      .main-header__edit-btn
        = link_to  do
          = "Edit"
    .messages
      .message
        .message__upper-info
          .message__upper-info__talker
            = "ハル"
          .message__upper-info__date
            = "2019/5/30(Sat) 13:20:19"
        .message__text
          = "たちまち嵐"
        .message__upper-info
          .message__upper-info__talker
            = "レオ"
          .message__upper-info__date
            = "2019/5/30(Sat) 13:20:19"
        .message__text
          = "誰にだって訳がある"
    .form
      %form.new-message
        %input.form__message
        .form__mask
          %label.form__mask__image
            = fa_icon "picture-o", class: 'icon'
            %input.hidden{type: 'file'}
        %input.form__submit{type: 'submit', value: 'Send'}